@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Mono", "sans-serif";
    box-sizing: border-box;
}
body {
    background-color: #f1f1ef;
}
.title {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.mainContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
    font-weight: 1000;
    font-size: 50px;
    color: #252525;
}
button {
    border: none;
    border-radius: 50px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.btnContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
.score ul{
    list-style-type: none;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 50px;
}
.text {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
#computerText {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
#scissors {
    background-color: #78f182;
}
#scissors:hover {
    border: #78f182 solid 10px;
}
#rock {
    background-color: #f97e71;
}
#rock:hover {
    border: #f97e71 solid 10px;
}
#paper {
    background-color: #7ed0ec;
}
#paper:hover {
    border: #7ed0ec solid 10px;
}

